*{
    box-sizing: border-box;
    padding: 1rem;
}

header{
    display: flex;
    justify-content: center;
    color: rgb(9, 123, 223);
    font-size:xx-large;
    font-weight: 300;
    font-style: normal;
    
    
}

body{
    background-color: aquamarine;
}
li{
    padding: 1rem;
    margin-top: 1rem;
    letter-spacing: auto;

}